
.window-container {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	background-color: var(--color-background);
}

header {
	display: flex;
	flex-flow: row nowrap;
	position: relative;
	top: 1.5rem;
	padding: 0rem 1.06rem;
	justify-content: center;
	gap: 7.5rem;
	font-family: var(--font-primary);
}

.header-nav {
	display: flex;
	gap: 7.12rem;
	padding: 0.81rem 9.43rem;
	border-bottom: 1px solid black;
}

.header-button {
	font-size: var(--font-size-header);
}

.header-logo {
	height: fit-content;
	width: fit-content;
	position: absolute;
	left: 1rem;
	top: -1rem;
	cursor: pointer;
}
.header-logo img {
	height: 7.75rem;
	width: 7.75rem;
} 

.header-button:hover {
	cursor: pointer;
	transform: scale(105%);
	transition: all 200ms ease;
}


.footer {
	display: none;
}

