
.front-page {
	display: none;
	width: fit-content;
	height: fit-content;
}

.front-page-container {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	width: 100vw;
	height: 33rem;
	background-color: #D9D9D9;
	margin-top: 7.44rem;
	font-family: var(--font-primary);
	text-align: center;
}

.front-page-text {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	flex-direction: column;
	width: fit-content;
	height: fit-content;
	gap: 4.375rem;
	padding: 1rem 1.5rem;
	font-weight: var(--font-weight-semibold);
	color: #fff;
}

.front-page-title {
	font-size: var(--font-size-huge);
}

.front-page-description {
	font-size: var(--font-size-header);
}

.front-page-image {
	object-fit: cover;
	width: 100%;
	height: 100%;
}