
.front-page {
	display: none;
	width: fit-content;
	height: fit-content;
}

.front-page-container {
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 45rem;
	margin-top: 2.6rem;
}

.front-page_content {
	flex-basis: 50%;
	background-color: var(--color-secondary);
	font-family: var(--font-secondary);
	font-size: var(--font-size-huge);
}

.front-page_image {
	flex-basis: 50%;
	background-color: aqua;
}

.front-page-title {
	font-size: var(--font-size-huge);
}

.front-page_text {
	width: 32rem;
	height: 13rem;
	margin-top: 5rem;
	margin-left: 3rem;
}

.front-page-image {
	object-fit: cover;
	width: 100%;
	height: 100%;
}