
.nybegynner-discer {
	display: none;
	flex-direction: column;
	align-items: center;
	margin-top: 6rem;
}

.new-discer__text {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 53rem;
	gap: 4rem;
	font-family: var(--font-primary);
}

.new-discer__title {
	font-size: var(--font-size-large);
	font-weight: var(--font-weight-medium);
}

.new-discer__description {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	font-size: var(--font-size-header);
	font-weight: var(--font-weight-regular);
}

.grid__new-discer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	height: fit-content;
	gap: 0.93rem;
	margin-top: 4rem;
}

/* responsive */

@media screen and (max-width: 1261px) {
	.grid__new-discer {
		grid-template-columns: repeat(2, 1fr);
		width: fit-content;
		margin: 0 auto;
		gap: 0.93rem;
		margin-top: 2rem;
	}
}